{% extends "layouts/base.html" %}

{% block title %} Search {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0 d-flex flex-row justify-content-between align-items-center w-100">
        <div>
            <h1 class="fw-bold mb-1 mt-2">Search</h1>
        </div>
        <div>
            <a class="btn btn-gray-800 mt-2 animate-up-2 submit-btn"
                href="{{ url_for('documents.searchHistory') }}">Search History</a>
        </div>
    </div>

</div>
<!-- SEARCH FORM -->
<form method="GET" id="searchForm">
    <div class="card card-body border-0 shadow mb-4">
        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <!-- DOCUMENT TITLE -->
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="document_title">Title / Content</label>
                                {% if refreshDocumentTitle == "" %}
                                <input name="document_title" class="form-control" id="document_title" type="text"
                                    placeholder="Enter document title or content in files">
                                {% else %}
                                <input name="document_title" class="form-control" id="document_title" type="text"
                                    placeholder="Enter document title" , value="{{refreshDocumentTitle}}">
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <!-- DOCUMENT NUMBER and AUTHOR -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="document_number">Document Number</label>
                                {% if refreshDocumentNumber == "" %}
                                <input name="document_number" class="form-control" id="document_number" type="text"
                                    placeholder="Enter document Number">
                                {% else %}
                                <input name="document_number" class="form-control" id="document_number" type="text"
                                    placeholder="Enter document Number" , value="{{refreshDocumentNumber}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="author">Author</label>
                                {% if refreshAuthorName == "" %}
                                <input name="author" class="form-control" id="author" type="text"
                                    placeholder="Enter Author name">
                                {% else %}
                                <input name="author" class="form-control" id="author" type="text"
                                    placeholder="Enter Author name" , value="{{refreshAuthorName}}">
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <!-- YEAR and DIVISION -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="year">Year</label>
                                <select name="year" class="form-select mb-0" id="year"
                                    aria-label="Gender select example">
                                    {% if refreshDocumentYear == "" %}
                                    <option selected value="">Select year</option>
                                    {% else %}
                                    <option value="">Select year</option>
                                    {% endif %}

                                    {% for year in yearList %}
                                    {% if refreshDocumentYear == year %}
                                    <option value="{{year}}" selected>{{year}}</option>
                                    {% else %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="division">Division</label>
                                <select name="division" class="form-select mb-0" id="division"
                                    aria-label="Gender select example">

                                    {% if refreshDivision == "" %}
                                    <option selected value="">Select Division</option>
                                    {% else %}
                                    <option value="">Select Division</option>
                                    {% endif %}

                                    {% for division in divisionList %}

                                    {% if refreshDivision == division["name"] %}
                                    <option value="{{division['name']}}" selected>{{division['name']}}</option>
                                    {% else %}
                                    <option value="{{division['name']}}">{{division['name']}}</option>
                                    {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="reportTypeContainer">

                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="reportType">Report Type</label>
                                <select name="reportType" class="form-select mb-0" id="reportType"
                                    aria-label="Gender select example" onchange="displaySubReportType()">

                                    {% if refreshReportType == "" %}
                                    <option selected value="">Select type</option>
                                    {% else %}
                                    <option value="">Select type</option>
                                    {% endif %}

                                    {% for reportType in parentReportTypeList %}
                                    {% if refreshReportType == reportType["name"] %}
                                    <option value="{{reportType['_id']}}" selected>{{reportType['name']}}</option>
                                    {% else %}
                                    <option value="{{reportType['_id']}}">{{reportType['name']}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex flex-row w-100 justify-content-between">
                            <div>
                                <button class="btn btn-gray-800 mt-2 animate-up-2 submit-btn" type="button"
                                    value="Submit">Submit</button>
                            </div>
                            <div>
                                <button class="btn btn-outline-gray-800 mt-2 animate-up-2" type="button"
                                    id="formReset">Reset</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<div class="card card-body border-0 shadow table-wrapper table-responsive mb-2">
    <!-- SORTING DROPDOWN -->
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <form method="GET" id="sortForm">
                <div class="d-flex flex-row align-items-center">
                    <select name="sortBy" class="form-select mb-0" id="sortBy" aria-label="Document sort select"
                        required style="width: 250px;">
                        <option selected disabled value="">Sort Results</option>
                        <option value="uploaded_at_asc">Uploaded Time Ascending</option>
                        <option value="uploaded_at_desc">Uploaded Time Descending</option>

                        <option value="title_asc">Title Ascending</option>
                        <option value="title_desc">Title Descending</option>

                        <option value="author_asc">Author Ascending</option>
                        <option value="author_desc">Author Descending</option>

                        <option value="year_asc">Document Year Ascending</option>
                        <option value="year_desc">Document Year Descending</option>
                    </select>
                    <button type="button" class="btn btn-gray-800 submit-btn ms-3">Sort</button>
                </div>

            </form>
        </div>

        <!-- <div class="d-flex align-items-center">
            <p>
                <button class="btn btn-primary collapseControl" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">Sort
                    Results</button>
            </p>
        </div> -->
        <div>
            <div class=" btn-group ms-2 ms-lg-3">
                {% for number in list_number_of_documents_per_page %}
                {% if number == number_of_documents_per_page %}
                <a type="button" class="btn btn-sm btn-outline-gray-600 active" href="{{ url_for(
                        'documents.search',
                        document_title = request.args.get('document_title'),
                        author=request.args.get('author'),
                        year = request.args.get('year'),
                        document_number = request.args.get('document_number'),
                        division = request.args.get('division'),
                        reportType = request.args.get('reportType'),
                        sortDocumentTitle = request.args.get('sortDocumentTitle'),
                        sortAuthor = request.args.get('sortAuthor'),
                        sortYear = request.args.get('sortYear'),
                        sortUploadedAt = request.args.get('sortUploadedAt'),
                        sortBy = request.args.get('sortBy'),
                        docppag=number)}} ">{{number}}</a>
                {% else %}
                <a type="button" class="btn btn-sm btn-outline-gray-600" href="{{ url_for(
                        'documents.search',
                        document_title = request.args.get('document_title'),
                        document_number = request.args.get('document_number'),
                        author=request.args.get('author'),
                        year = request.args.get('year'),
                        division = request.args.get('division'),
                        reportType = request.args.get('reportType'),
                        sortDocumentTitle = request.args.get('sortDocumentTitle'),
                        sortAuthor = request.args.get('sortAuthor'),
                        sortYear = request.args.get('sortYear'),
                        sortUploadedAt = request.args.get('sortUploadedAt'),
                        sortBy = request.args.get('sortBy'),
                        docppag=number)}} ">{{number}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <div class="collapse mb-3 {{sortCollapse}}" id="collapseExample">

        <form method="GET" id="sortForm">
            <div class="card card-body">
                <div class="row">

                    <div class="col-md-3">
                        <label for="sortDocumentTitle">Document Title</label>
                        <select name="sortDocumentTitle" id="sortDocumentTitle" class="form-select">
                            {% if refreshSortDocumentTitle == ""%}
                            <option value="" selected>Select</option>
                            <option value="asc">Title Ascending</option>
                            <option value="desc">Title Descending</option>
                            {% elif refreshSortDocumentTitle == "asc" %}
                            <option value="">Select</option>
                            <option value="asc" selected>Title Ascending</option>
                            <option value="desc">Title Descending</option>
                            {% else %}
                            <option value="">Select</option>
                            <option value="asc">Title Ascending</option>
                            <option value="desc" selected>Title Descending</option>
                            {% endif %}
                        </select>
                    </div>


                    <div class="col-md-3">
                        <label for="sortAuthor">Author</label>
                        <select name="sortAuthor" id="sortAuthor" class="form-select">
                            {% if refreshSortAuthor == ""%}
                            <option value="" selected>Select</option>
                            <option value="asc">Author Ascending</option>
                            <option value="desc">Author Descending</option>
                            {% elif refreshSortAuthor == "asc"%}
                            <option value="">Select</option>
                            <option value="asc" selected>Author Ascending</option>
                            <option value="desc">Author Descending</option>
                            {% else %}
                            <option value="">Select</option>
                            <option value="asc">Author Ascending</option>
                            <option value="desc" selected>Author Descending</option>
                            {% endif %}
                        </select>
                    </div>


                    <div class="col-md-3">
                        <label for="sortYear">Year</label>
                        <select name="sortYear" id="sortYear" class="form-select">
                            {% if refreshSortYear == "" %}
                            <option value="" selected>Select</option>
                            <option value="asc">Year Ascending</option>
                            <option value="desc">Year Descending</option>
                            {% elif refreshSortYear == "asc" %}
                            <option value="">Select</option>
                            <option value="asc" selected>Year Ascending</option>
                            <option value="desc">Year Descending</option>
                            {% else %}
                            <option value="">Select</option>
                            <option value="asc">Year Ascending</option>
                            <option value="desc" selected>Year Descending</option>
                            {% endif %}
                        </select>
                    </div>


                    <div class="col-md-3">
                        <label for="sortUploadedAt">Upload Time</label>
                        <select name="sortUploadedAt" id="sortUploadedAt" class="form-select">
                            {% if refreshSortUploadedAt == "" %}
                            <option value="" selected>Select</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                            {% elif refreshSortUploadedAt == "asc"%}
                            <option value="">Select</option>
                            <option value="asc" selected>Ascending</option>
                            <option value="desc">Descending</option>
                            {% else %}
                            <option value="">Select</option>
                            <option value="asc">Ascending</option>
                            <option value="desc" selected>Descending</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="mt-3">

                    <button type="button" class="btn btn-gray-800 submit-btn">Sort</button>
                    <button type="button" class="btn btn-outline-gray-800 ms-2 animate-up-2"
                        id="sortFormResetBtn">Reset</button>
                </div>
            </div>
        </form>

    </div> -->


    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">#</th>
                <th class="border-gray-200">Uploaded At</th>
                <th class="border-gray-200">Doc #</th>
                <th class="border-gray-200">Title</th>
                <th class="border-gray-200">Author</th>
                <th class="border-gray-200">Year</th>
                <th class="border-gray-200">Division</th>
                <th class="border-gray-200">Type</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            {% for i in range(lenSearchResults) %}
            <tr>
                <td>
                    <a href="#" class="fw-bold">
                        {{ number_of_documents_per_page * current_page + i + 1}}
                    </a>
                </td>



                <td><span class="fw-normal">{{searchResults[i]["uploaded_at"].strftime("%d/%m/%Y, %H:%M:%S")}}</span>
                </td>
                {% if searchResults[i]["document_number"] == "" %}
                <td class="text-center"><span class="fw-normal">-</span></td>
                {% else %}
                <td class="text-center"><span class="fw-normal">{{searchResults[i]["document_number"]}}</span></td>
                {% endif %}
                <td>
                    <div class="fw-bold text-truncate" style="max-width: 300px;">{{searchResults[i]["title"]}}</d>
                </td>
                <td><span class="fw-normal">{{searchResults[i]["author"]}}</span></td>
                <td><span class="fw-normal">{{searchResults[i]["year"]}}</span></td>
                <td><span class="fw-normal">{{searchResults[i]["division"]}}</span></td>
                <td><span class="fw-normal">{{searchResults[i]["reportType"]}}</span></td>
                <td class="text-center">

                    <a class="animate-up-2" href="{{url_for(
                        'documents.details',
                        id=searchResults[i]['_id'],
                        document_title = request.args.get('document_title'),
                        document_number = request.args.get('document_number'),
                        author=request.args.get('author'),
                        year = request.args.get('year'),
                        division = request.args.get('division'),
                        reportType = request.args.get('reportType'),
                        sortDocumentTitle = request.args.get('sortDocumentTitle'),
                        sortAuthor = request.args.get('sortAuthor'),
                        sortYear = request.args.get('sortYear'),
                        sortUploadedAt = request.args.get('sortUploadedAt'),
                        sortBy = request.args.get('sortBy'),
                        docppag=number,
                        current_page = current_page,
                        fromSearchPage=True
                        )
                    }}">-></a>

                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>


    <!-- PAGINATION -->
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                {% if current_page == 0 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(
                            'documents.search',
                            document_title = request.args.get('document_title'),
                            document_number = request.args.get('document_number'),
                            author=request.args.get('author'),
                            year = request.args.get('year'),
                            division = request.args.get('division'),
                            reportType = request.args.get('reportType'),
                            sortDocumentTitle = request.args.get('sortDocumentTitle'),
                            sortAuthor = request.args.get('sortAuthor'),
                            sortYear = request.args.get('sortYear'),
                            sortUploadedAt = request.args.get('sortUploadedAt'),
                            sortBy = request.args.get('sortBy'),
                            page=current_page - 1) }}">Previous</a>
                </li>
                {% endif %}

                {% for i in range(number_of_pages) %}
                {% if i == current_page %}
                <li class="page-item active">
                    <a class="page-link" href="{{ url_for(
                            'documents.search',
                            document_title = request.args.get('document_title'),
                            document_number = request.args.get('document_number'),
                            author=request.args.get('author'),
                            year = request.args.get('year'),
                            division = request.args.get('division'),
                            reportType = request.args.get('reportType'),
                            sortDocumentTitle = request.args.get('sortDocumentTitle'),
                            sortAuthor = request.args.get('sortAuthor'),
                            sortYear = request.args.get('sortYear'),
                            sortUploadedAt = request.args.get('sortUploadedAt'),
                            sortBy = request.args.get('sortBy'),
                            page=i) }}">
                        {{ i + 1 }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(
                            'documents.search',
                            document_title = request.args.get('document_title'),
                            document_number = request.args.get('document_number'),
                            author=request.args.get('author'),
                            year = request.args.get('year'),
                            division = request.args.get('division'),
                            reportType = request.args.get('reportType'),
                            sortDocumentTitle = request.args.get('sortDocumentTitle'),
                            sortAuthor = request.args.get('sortAuthor'),
                            sortYear = request.args.get('sortYear'),
                            sortUploadedAt = request.args.get('sortUploadedAt'),
                            sortBy = request.args.get('sortBy'),
                            page=i) }}">
                        {{ i + 1 }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                {% if current_page == number_of_pages - 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(
                            'documents.search',
                            document_title = request.args.get('document_title'),
                            document_number = request.args.get('document_number'),
                            author=request.args.get('author'),
                            year = request.args.get('year'),
                            division = request.args.get('division'),
                            reportType = request.args.get('reportType'),
                            sortDocumentTitle = request.args.get('sortDocumentTitle'),
                            sortAuthor = request.args.get('sortAuthor'),
                            sortYear = request.args.get('sortYear'),
                            sortUploadedAt = request.args.get('sortUploadedAt'),
                            sortBy = request.args.get('sortBy'),
                            page=current_page + 1) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <!-- <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div> -->
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
    async function fetchData() {
        console.log("We're in")
        const response = await fetch("/upload/getReportTypes");
        const data = await response.json();
        return data;
    }

    async function displaySubReportType() {
        let reportTypeContainer = document.getElementById("reportTypeContainer");
        let reportType = document.getElementById("reportType");
        let reportTypeID = reportType.options[reportType.selectedIndex].value;
        let reportTypeList = await fetchData();
        let refreshSubReportType = "{{refreshSubReportType}}";

        let subReportTypeContainer = `
                    <div class="col-md-6 mb-3" id="subReportTypeContainer">
                        <label for="subReportType">Sub Report Type</label>
                        <select name="subReportType" class="form-select mb-0" id="subReportTypeSelect"
                            aria-label="Gender select example">
                            <option selected value="" id="defaultSelectOption">Type</option>
                        </select>
                    </div>`;


        // Checking if the selected report type has sub report types
        let hasSubReportType = reportTypeList.find((item) => item["_id"].$oid === reportTypeID)?.hasSubReportType;

        if (hasSubReportType) {
            if (document.getElementById("subReportTypeContainer") === null) {
                reportTypeContainer.insertAdjacentHTML('beforeend', subReportTypeContainer);
                let subReportTypeSelect = document.getElementById("subReportTypeSelect");
            } else {
                // Removing all child nodes exept the default one
                while (subReportTypeSelect.lastChild.id != "defaultSelectOption") {
                    subReportTypeSelect.removeChild(subReportTypeSelect.lastChild);
                }
            }
            // Populating the select field with Sub Reports
            for (let i in reportTypeList) {
                console.log("IN")
                console.log()
                if (reportTypeList[i].parentReportType?.$oid == reportTypeID) {
                    if (reportTypeList[i].name == refreshSubReportType) {
                        subReportTypeSelect.insertAdjacentHTML('beforeend', `<option value="${reportTypeList[i]._id.$oid}" selected>${reportTypeList[i].name}</option>`);
                    } else {
                        subReportTypeSelect.insertAdjacentHTML('beforeend', `<option value="${reportTypeList[i]._id.$oid}">${reportTypeList[i].name}</option>`);
                    }
                }
            }
        } else {
            // Removing the sub report type container if it exists
            if (document.getElementById("subReportTypeContainer") !== null) {
                document.getElementById("subReportTypeContainer").remove();
            }
        }

    }
    displaySubReportType();
</script>
<script src="{{ url_for('static', filename='assets/js/retreiveDocumentsScript.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/toastScript.js') }}"></script>
{% endblock javascripts %}